<div class="mt-10 flex flex-row w-full h-full justify-center ring-2">
    <div class="flex flex-col justify-center items-center p-5 ring-2">
        <div class="flex flex-col">
            <label>Usuario</label>
            <input class="ring-2" placeholder="Ingrese su usuario">
        </div>
        <div class="flex flex-col">
            <label>Contraseña</label>
            <input class="ring-2" placeholder="Ingrese su contraseña">
        </div>
        <div class="mt-5">
            <button class="mr-2 ring-1">Regresar al inicio</button>
            <button class="ring-1">Ingresar</button>
        </div>
    </div>
</div>

<div class="mt-10 flex flex-row w-full h-full justify-center ring-2">
    <div class="flex flex-col gap-5">
        <div class="flex flex-col justify-center items-center">
            <label>Ingrese la clave de acceso</label>
            <input>
        </div>
        <div class="flex justify-center">
            <button>Logearse</button>
        </div>
    </div>
</div>
