<nav class="flex justify-between bg-orange-500 p-5">
    <div class="flex gap-3 text-white font-medium">
        <a>Reportes de Equipos Battilana</a>
    </div>
    <div>
        <a href="#"
            class="rounded-lg text-white bg-slate-700 hover:bg-slate-800 hover:text-white py-2 px-4 font-medium border border-transparent focus:outline-none">Administrar</a>
    </div>
</nav>
<div class="flex flex-col sm:flex-row sm:gap-5 justify-evenly max-w-full max-h-full p-5">
    <!-- Columna de Listado-->
    <div class="flex flex-col justify-center items-center w-1/2 ">
        <div class="flex mb-10 gap-3 mt-5">
            <a href="#"
                class="rounded-lg text-white font-black bg-orange-400 p-3 hover:bg-orange-500 hover:scale-110">Registrar</a>
            <select name="area" (change)="listadoUsuariosAsignados()" [(ngModel)]="idArea"
                class="rounded-lg text-white font-black bg-orange-400 p-3 hover:bg-orange-500 overflow-auto">
                <option [value]="-1">Seleccione Areas</option>
                <option *ngFor="let a of areas" [ngValue]="a.idArea" class="overflow-auto">{{a.descripcionArea}}
                </option>
            </select>
        </div>
        <div class="shadow-2xl p-5">
            <div class="max-h-96 overflow-auto">
                <table class="table-fixed border-collapse w-full border border-slate-600 text-sm ">
                    <thead class="bg-gray-300 sticky top-0">
                        <tr>
                            <th class="border border-slate-500 font-semibold p-4 w-1/2 text-left">Nombres y Apellidos
                            </th>
                            <th class="border border-slate-500 font-semibold p-4 w-1/2 text-left">Area</th>
                            <th class="border border-slate-500 font-semibold p-4 w-1/2 text-center">Equipo Asignado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ua of usuarioAsignado">
                            <td class="border border-slate-500 p-4 text-left">{{ua.nombreUsuarioAsignado}}</td>
                            <td class="border border-slate-500 p-4 text-left">{{ua.descripcionArea}}</td>
                            <td class="border border-slate-500 text-center">
                                <!--<a href="#" class="rounded-lg text-white font-black bg-orange-400 p-3 hover:bg-orange-500 hover:scale-110">Ver</a>-->
                                <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700"
                                    (click)="openModal(ua.idUsuarioAsignado)">
                                    Ver
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Columna de Graficos -->
    <div class="flex flex-col gap-5 w-1/2">
        <div class="shadow-2xl flex justify-center sm:justify-center">
            <app-graficos></app-graficos>
        </div>
        <div class="shadow-2xl flex justify-center sm:justify-center">
            <app-graficos></app-graficos>

        </div>
    </div>
</div>

<!-- Fondo oscuro del modal con animación -->
<div class="fixed inset-0 bg-gray-800 bg-opacity-75 flex justify-center items-center transition-opacity duration-300 ease-out"
    [ngClass]="isModalOpen ? 'opacity-100 visible': 'opacity-0 invisible'" (click)="closeModalOnOutSideClick($event)">

    <!-- Contenedor del modal con animación de apertura y cierre -->
    <div class="bg-white p-5 rounded-lg shadow-lg max-w-5xl w-full relative transform transition-all duration-300 ease-out"
        [ngClass]="isModalOpen ? 'scale-100 opacity-100' : 'scale-75 opacity-0'">

        <h2 class="text-2xl font-bold mb-10">Detalles del Equipo</h2>
        <div class="flex flex-row gap-5 justify-between">
            <div class="flex flex-col gap-5 mt-5">
                <div class="flex flex-row gap-2">
                    <div class="flex flex-col">
                        <label class="mb-2">Modelo</label>
                        <input [(ngModel)]="historicoAsignacion.modeloEquipo" class="bg-slate-300 rounded-lg p-1 pl-2 ring-1 ring-black" readonly>
                    </div>
                    <div class="flex flex-col">
                        <label class="mb-2">Serie</label>
                        <input [(ngModel)]="historicoAsignacion.serieEquipo" class="bg-slate-300 rounded-lg p-1 pl-2 ring-1 ring-black">
                    </div>
                    
                </div>
                <div class="flex flex-row gap-2">
                    <div class="flex flex-col">
                        <label class="mb-2">Procesador</label>
                        <input [ngModel]="historicoAsignacion.modeloProcesador" class="bg-slate-300 rounded-lg p-1 pl-2 ring-1 ring-black">
                    </div>
                    <div class="flex flex-col">
                        <label class="mb-2">Marca</label>
                        <input [ngModel]="historicoAsignacion.nombreMarca" class="bg-slate-300 rounded-lg p-1 pl-2 ring-1 ring-black">
                    </div>    
                </div>
                <div class="flex flex-row gap-2">
                    <div class="flex flex-col">
                        <label class="mb-2">Almacenamiento</label>
                        <input [ngModel]="historicoAsignacion.capacidadAlmacenamiento" class="bg-slate-300 rounded-lg p-1 pl-2 ring-1 ring-black">
                    </div>
                    <div class="flex flex-col">
                        <label class="mb-2">Memoria Ram</label>
                        <input [ngModel]="historicoAsignacion.tamanioMemoriaRam" class="bg-slate-300 rounded-lg p-1 pl-2 ring-1 ring-black">
                    </div>
                </div>
                <div class="flex flex-row gap-2">
                    <div class="flex flex-col">
                        <label class="mb-2">Fecha de Ingreso</label>
                        <input [ngModel]="historicoAsignacion.fechaIngresoEquipo" class="bg-slate-300 rounded-lg p-1 pl-2 ring-1 ring-black">
                    </div>
                    <div class="flex flex-col">
                        <label class="mb-2">Fecha de Fabricacion</label>
                        <input [ngModel]="historicoAsignacion.fechaFabricacionEquipo" class="bg-slate-300 rounded-lg p-1 pl-2 ring-1 ring-black">
                    </div>
                </div>
            </div>
            <div class="max-h-96 max-w-full overflow-auto w-full shadow-2xl p-2 flex flex-col items-center">
                <div class="w-full h-full flex flex-col items-center">
                    <table class="table-auto border-collapse w-full border-slate-600 text-sm ">
                        <thead class="bg-gray-300 sticky -top-2.5">
                            <tr>
                                <th class="border border-slate-500 font-semibold p-4 w-1/2 text-left">Id
                                </th>
                                <th class="border border-slate-500 font-semibold p-4 w-1/2 text-left">Observaciones</th>
                                <th class="border border-slate-500 font-semibold p-4 w-1/2 text-center">Fecha
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let he of historicoEquipo">
                                <td class="border border-slate-500 p-4 text-left">{{he.idEquipo}}</td>
                                <td class="border border-slate-500 p-4 text-left">{{he.observacionEquipos}}</td>
                                <td class="border border-slate-500 text-center p-4">
                                    {{he.fechaHistoricoEquipos}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>

        <!-- Botón para cerrar -->
        <button class="absolute top-4 right-2 text-gray-600 hover:text-gray-900" (click)="closeModal()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-8 text-gray-600 hover:text-gray-300">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>
        </button>
        <div class="flex flex-row justify-center items-center mt-10">
            <div>
                <button class="bg-red-500 text-white px-3 py-1 rounded ml-auto" (click)="closeModal()">Cerrar</button>
            </div>
        </div>
        
    </div>
</div>