<nav class="flex justify-between bg-gray-200">
    <div class="flex gap-3">
        <a>Reportes de Equipos Battilana</a>
        <a>2do boton</a>
    </div>
    <div>
        <a>Botoncito</a>
    </div>
</nav>
<div class="flex flex-col sm:flex-row justify-evenly items-center mt-10">
    <div class="flex flex-col ">CAJA IZQUIERDA</div>
    <div class="flex flex-col gap-10">
        <div>
            <app-graficos></app-graficos>
        </div>
        <div>SUB CAJA DERECHA 2 'CAJA DE GRAFICOS'</div>
    </div>
</div>